doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title US Crime
    // stylesheets
    script(type='text/javascript',src='/javascripts/jquery.js')
    script(src='/javascripts/echarts.js', type='text/javascript')
    //- link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    //- script(src='/javascripts/bootstrap.min.js')
    link(href='/pages/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/pages/css/font-awesome.css', rel='stylesheet')
    link(href='/pages/css/ionicons.css', rel='stylesheet')
    link(href='/pages/css/owl.carousel.css', rel='stylesheet')
    link(href='/pages/css/style.css', rel='stylesheet')
  body
    // navbar
    header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html') US Crime
          #navbar.navbar-collapse.collapse.nav-top
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='index.html') Home
              li
                a(href='charts.html') Charts
              li
                a(href='dijkstra.html') Dijkstra
              li
                a(href='social.html') Social
              li
                a(href='about.html') About
              li
                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container(style='background-color:rgb(24, 32, 53);width:100%;height:1000px;')
            #contain(style='width: 100%; height: 100px;')
            #chart2(style='width: 700px; height: 50%;float:left;')
            #chart(style='width: 700px; height: 50%;float:right;')
            #chart3(style='width: 700px; height: 50%;float:left;')
            #chart4(style='width: 700px; height: 50%;float:right;')
    // footer
    footer.footer
      .container
        .row
          .col-md-2.col-sm-3.col-xs-6
            .footer-logo
              .footer-logo-text Refugee
              p Powered By Download Manager
          .col-md-2.col-sm-3.col-xs-6
            h3 Links
          .col-md-2.col-sm-3.col-xs-6
            h3 Pages
          .col-md-2.col-sm-3.col-xs-6
            h3 Legal
          .col-md-2.col-sm-3.col-xs-6
            h3 Social
          .col-md-2.col-sm-3.col-xs-6
            h3 Contact
        hr
        .row
    // javascript
    script(src='/pages/js/owl.carousel.js')
    script(src='/pages/js/custom.js')
    script(type="text/javascript").
          $(document).ready(function(){
          var chart = document.getElementById('chart');
          var chartData = echarts.init(chart);
          var chart2 = document.getElementById('chart2');
          var chartData2 = echarts.init(chart2);
          var chart3 = document.getElementById('chart3');
          var chartData3 = echarts.init(chart3);
          var chart4 = document.getElementById('chart4');
          var chartData4 = echarts.init(chart4);
          jQuery.noConflict()
          $.get('/json/USAmap.json', function (usaJson) {
            echarts.registerMap('USA', usaJson, {
            Alaska: {              // 把阿拉斯加移到美国主大陆左下方
                left: -130,
                top: 25,
                width: 120
            },
            Hawaii: {
                left: -120,        // 夏威夷
                top: 28,
                width: 60
            },  
            'Puerto Rico': {       // 波多黎各
                left: -76,
                top: 26,
                width: 2
            }
            });
            $.get('/json/usa.json').done(function (result) {
            var schema = [  
                {name: 'population', index: 1, text: 'population'},
                {name: 'gdp', index: 2, text: 'gdp'},
                {name: 'crime', index: 3, text: 'crime'},
                {name: 'gap', index: 4, text: 'gap'},
                {name: 'state', index: 0, text: 'state'},
            ];

            var itemStyle = {
                normal: {
                    opacity: 0.8,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            };

            $.get('/json/echarts.json').done(function (data) {
              var data1=[];
              for (var i=0, len=data.scatter.length; i<len; i++){
                data1.push({
                  state:data.scatter[i][0],
                  crime2017:data.scatter[i][1],
                  population2015:data.scatter[i][4],
                  gdp2017:data.scatter[i][7],
                  gap:data.scatter[i][8]
                })
              }
              var data2=[];
              var scatter=[];
              for (var i=0, len=data1.length; i<len; i++){
                    data2.push(data1[i].population2015);
                    data2.push(data1[i].gdp2017);
                    data2.push(data1[i].crime2017);
                    data2.push(data1[i].gap);
                    data2.push(data1[i].state);
                    scatter.push(data2);
                    data2=[];
              }
              var data3=[];
              var datapie=[];
              for (var i=0, len=data.scatter.length; i<len; i++){
                datapie.push({
                  state:data.scatter[i][0],
                  murder:data.scatter[i][9],
                  rape:data.scatter[i][10],
                  robbery:data.scatter[i][11],
                  aggravated:data.scatter[i][12],
                  burglary:data.scatter[i][13],
                  larceny:data.scatter[i][14],
                  vehicle:data.scatter[i][15]
                })
              }
              console.log(data.scatter[0]);
              console.log(data1);
              console.log(scatter);
              console.log(datapie);
                var option= {
                    color: [
                        '#dd4444', '#fec42c', '#80F1BE'
                    ],
                    legend: {
                        y: 'top',
                        data: ['分析'],
                        textStyle: {
                            color: '#fff',
                            fontSize: 16
                        }
                    },
                    grid: {
                        x: '10%',
                        x2: 150,
                        y: '18%',
                        y2: '10%'
                    },
                    tooltip: {
                        padding: 10,
                        backgroundColor: '#222',
                        borderColor: '#777',
                        borderWidth: 1,
                        formatter: function (obj) {
                            var value = obj.value;
                            return '<div style="border-bottom: 1px solid rgba(255,255,255,.3); font-size: 18px;padding-bottom: 7px;margin-bottom: 7px">'
                                + 'state：'
                                + value[4]
                                + '</div>'
                                + schema[0].text + '：' + value[0] + '<br>'
                                + schema[1].text + '：' + value[1] + '<br>'
                                + schema[2].text + '：' + value[2] + '<br>'
                                + schema[3].text + '：' + value[3] + '<br>';
                        }
                    },
                    xAxis: {
                        type: 'value',
                        name: '人口',
                        nameGap: 16,
                        nameTextStyle: {
                            color: '#fff',
                            fontSize: 14
                        },
                        scale:true,
                        splitLine: {
                            show: false
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        name: '人均gdp',
                        nameLocation: 'end',
                        nameGap: 20,
                        min:30000,
                        max:90000,
                        nameTextStyle: {
                            color: '#fff',
                            fontSize: 16
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#eee'
                            }
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    visualMap: [
                        {
                            left: 'right',
                            top: '10%',
                            dimension: 2,
                            itemWidth: 30,
                            itemHeight: 120,
                            calculable: true,
                            precision: 0.1,
                            min:20000,
                            max:700000,
                            text: ['圆形大小：犯罪总数'],
                            textGap: 30,
                            textStyle: {
                                color: '#fff'
                            },
                            inRange: {
                                symbolSize: [10, 70]
                            },
                            outOfRange: {
                                symbolSize: [10, 70],
                                color: ['rgba(255,255,255,.2)']
                            },
                            controller: {
                                inRange: {
                                    color: ['#c23531']
                                },
                                outOfRange: {
                                    color: ['#444']
                                }
                            }
                        },
                        {
                            left: 'right',
                            bottom: '5%',
                            dimension: 3,
                            itemHeight: 120,
                            calculable: true,
                            precision: 0.1,
                            min:15,
                            max:50,
                            text: ['明暗：贫富差距'],
                            textGap: 30,
                            textStyle: {
                                color: '#fff'
                            },
                            inRange: {
                                colorLightness: [1, 0.5]
                            },
                            outOfRange: {
                                color: ['rgba(255,255,255,.2)']
                            },
                            controller: {
                                inRange: {
                                    color: ['#c23531']
                                },
                                outOfRange: {
                                    color: ['#444']
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '分析',
                            type: 'scatter',
                            itemStyle: itemStyle,
                            data: scatter
                        }
                    ]
                };
              var option2 ={
              title: {
                  text: '全美各州犯罪总数',
                  x: 'center',
                textStyle: {
                color: '#fff'
                },
                //-   left: 'right'
              },
              tooltip: {
                  trigger: 'item',
                  showDelay: 0,
                  transitionDuration: 0.2,
                  formatter: function (params) {
                      var value = (params.value + '').split('.');
                      value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                      return '犯罪总数' + '<br/>' + params.name + ': ' + value;
                  }
              },
              visualMap: {
                  left: 'right',
                  min: 30000,
                  max: 1000000,
                  textStyle: {
                  color: '#fff'
                  },
                  inRange: {
                      color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                  },
                  text:['High','Low'],           // 文本，默认为数值文本
                  calculable: true
              },
              toolbox: {
                  show: true,
                  //orient: 'vertical',
                  left: 'left',
                  top: 'top',
                  feature: {
                      dataView: {readOnly: false},
                      restore: {},
                      saveAsImage: {}
                  }
              },
              series: [
                  {
                      name: 'USA PopEstimates',
                      type: 'map',
                      roam: true,
                      map: 'USA',
                      itemStyle:{
                          emphasis:{label:{show:true}}
                      },
                      // 文本位置修正
                      textFixed: {
                          Alaska: [20, -20]
                      },
                      zoom: 1.5,
                      x: 'right',
                      data: result
                  }
              ]
            };
            var option3 = {
             tooltip: {
              trigger: 'item',
              formatter: "{a} <br/>{b}: {c} ({d}%)"
              },
              legend: {
                textStyle: {
                color: '#fff'
                },
              orient: 'vertical',
              x: 'left',
              data:['murder','rape','robbery','aggravated','burglary','larceny','vehicle']
              },
            series: [
            {
            name:'该州犯罪总览',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:404, name:'murder'},
                {value:2028, name:'rape'},
                {value:4217, name:'robbery'},
                {value:18902, name:'aggravated'},
                {value:31477, name:'burglary'},
                {value:99842, name:'larceny'},
                {value:12841, name:'vehicle'}
            ]
            }
            ]
            };
            var option4 = {
            tooltip : {
              trigger: 'axis',
              axisPointer : {           
                  type : 'shadow'      
              },
              formatter: function (params) {
                console.log(params);
                  var tar = params[0];
                  return tar.name + '<br/>' + 'value' + ' : ' + tar.value;
              }
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    formatter: '{value}',
                    color: '#fff'
                },
                data: ['谋杀', '强奸', '抢劫', '暴行', '入室偷盗', '盗窃', '车辆盗窃']
            },
            yAxis: {
                axisLabel: {
                    formatter: '{value}',
                    color: '#fff'
                },
                type: 'value'
            },
            color:['#CD7054'],
            series: [{
                data: [404, 2028, 4217, 18902, 31477, 99842, 12841],
                type: 'bar'
            }]
            };
            chartData2.on('click', function (params) {
            var selected = params.data;
            var mapSeries = option2.series[0];
            var data = [];
            var legendData = [];
            var name;
            console.log(mapSeries.data);
            for (var p = 0, len = mapSeries.data.length; p < len; p++) {
            name = mapSeries.data[p].name;
            console.log(selected.name);
            //mapSeries.data[p].selected = selected[name];
            if (selected.name == datapie[p].state) {
            console.log(datapie[p]);
            option3.series[0].data=[
                {value:datapie[p].murder, name:'murder'},
                {value:datapie[p].rape, name:'rape'},
                {value:datapie[p].robbery, name:'robbery'},
                {value:datapie[p].aggravated, name:'aggravated'},
                {value:datapie[p].burglary, name:'burglary'},
                {value:datapie[p].larceny, name:'larceny'},
                {value:datapie[p].vehicle, name:'vehicle'}
            ];
            option4.series[0].data=[datapie[p].murder,datapie[p].rape,datapie[p].robbery,datapie[p].aggravated,datapie[p].burglary,datapie[p].larceny,datapie[p].vehicle];
            console.log(option3.series[0].data);
            //console.log(data);
            }
            }
            //option3.legend.data = legendData;
            //option.series[1].data = data;
            chartData3.setOption(option3, true);
            chartData4.setOption(option4, true); 
            })
                chartData.setOption(option); 
                chartData2.setOption(option2); 
                chartData3.setOption(option3); 
                chartData4.setOption(option4); 
                chart3.group = 'group1';
                chart4.group = 'group1';
                echarts.connect('group1');
                console.log(result);

            });
            });
          });
          });
          
