doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title US Crime
    // stylesheets
    script(type='text/javascript',src='/javascripts/jquery.js')
    script(src='/javascripts/echarts.js', type='text/javascript')
    //- link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    //- script(src='/javascripts/bootstrap.min.js')
    link(href='/pages/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/pages/css/font-awesome.css', rel='stylesheet')
    link(href='/pages/css/ionicons.css', rel='stylesheet')
    link(href='/pages/css/owl.carousel.css', rel='stylesheet')
    link(href='/pages/css/style.css', rel='stylesheet')
    link(href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', rel='stylesheet', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', crossorigin='', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==')
    // Fav and touch icons
  body
    // navbar
    header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html') US Crime
          #navbar.navbar-collapse.collapse.nav-top
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='index.html') Home
              li
                a(href='charts.html') Charts
              li
                a(href='dijkstra.html') Dijkstra
              li
                a(href='social.html') Social
              li
                a(href='about.html') About
              li
                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container(style='background-color:rgb(24, 32, 53);width:100%;height:1000px;')
            #contain(style='width: 100%; height: 100px;')
            #map(style='width: 700px; height: 50%;float:left;')
            #chart2(style='width: 700px; height: 50%;float:right;')
            #chart(style='width: 700px; height: 50%;float:left;')
            #chart3(style='width: 700px; height: 50%;float:right;')
            
    // footer
    footer.footer
      .container
        .row
          .col-md-2.col-sm-3.col-xs-6
            .footer-logo
              .footer-logo-text Refugee
              p Powered By Download Manager
          .col-md-2.col-sm-3.col-xs-6
            h3 Links
          .col-md-2.col-sm-3.col-xs-6
            h3 Pages
          .col-md-2.col-sm-3.col-xs-6
            h3 Legal
          .col-md-2.col-sm-3.col-xs-6
            h3 Social
          .col-md-2.col-sm-3.col-xs-6
            h3 Contact
        hr
        .row
    // javascript
    script(src='/pages/js/owl.carousel.js')
    script(src='/pages/js/custom.js')
    script(src='../javascripts/main.min.js')
    script(type="text/javascript").
      var map = L.map('map');
      var baseLayers = {
      "高德地图": L.tileLayer('http://webrd0{s}.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}', {
      subdomains: "1234"
      }),
      '高德影像': L.layerGroup([L.tileLayer('http://webst0{s}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}', {
      subdomains: "1234"
      }), L.tileLayer('http://t{s}.tianditu.cn/DataServer?T=cta_w&X={x}&Y={y}&L={z}', {
      subdomains: "1234"
      })]),
      "立体地图": L.tileLayer('https://a.tiles.mapbox.com/v3/examples.c7d2024a/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      }),
      "Foursquare": L.tileLayer('https://a.tiles.mapbox.com/v3/foursquare.map-0y1jh28j/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      }),
      'GeoQ灰色底图': L.tileLayer('http://map.geoq.cn/ArcGIS/rest/services/ChinaOnlineStreetPurplishBlue/MapServer/tile/{z}/{y}/{x}').addTo(map)
      };
      L.tileLayer('https://a.tiles.mapbox.com/v3/foursquare.map-0y1jh28j/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      });
      var layercontrol = L.control.layers(baseLayers,{}, {
      position: "topleft"
      }).addTo(map);
      /*map.setView(L.latLng(37.550339, 104.114129), 4);*/
      map.setView(L.latLng(37.550339, -90.114129), 4);
      var overlay = new L.echartsLayer3(map, echarts);
      var chartsContainer = overlay.getEchartsContainer();
      var myChart = overlay.initECharts(chartsContainer);
      var geoCoordMap = {
      'ALABAMA':[-86.79972,33.52222],
      'ALASKA':[-149.88722,61.21667],
      'ARIZONA':[-112.07500,33.44861],
      'ARKANSAS':[-92.33111,34.73611],
      'CALIFORNIA':[-118.24361,34.05222],
      'COLORADO':[-104.98472,39.73917],
      'CONNECTICUT':[-73.19556,41.18639],
      'DELAWARE':[-75.54667,39.74583],
      'FLORIDA':[-80.22639,25.78889],
      'GEORGIA':[-84.39000,33.74722],
      'HAWAII':[-157.85944,21.30694],
      'IDAHO':[-116.23778,43.61361],
      'ILLINOIS':[-87.62778,41.87778 ],
      'INDIANA':[-86.14806,39.79111],
      'IOWA':[-93.62083,41.59083],
      'KANSAS':[-97.33611,37.68889],
      'KENTUCKY':[-85.76667,38.25000],
      'LOUISIANA':[-90.05000,29.96667],
      'MAINE':[-70.26667,43.66667],
      'MARYLAND':[-76.61667,39.28333],
      'MASSACHUSETTS':[-71.05972,42.35806],
      'MICHIGAN':[-83.04583,42.33139],
      'MINNESOTA':[-93.26667,44.98333],
      'MISSISSIPPI':[-89.18611,31.05639],
      'MISSOURI':[-90.19833,38.62750],
      'MONTANA':[-108.53722,45.78667],
      'NEBRASKA':[-96.00000,41.25000],
      'NEVADA':[-115.17361,36.11389],
      'NEW HAMPSHIRE':[-71.45444,42.99583],
      'NEW JERSEY':[-74.17250,40.72417],
      'NEW MEXICO':[-106.61000,35.11083 ],
      'NEW YORK':[-74.00000,40.71250],
      'NORTH CAROLINA':[-80.84389,35.22778],
      'NORTH DAKOTA':[-96.78944,46.87722],
      'OHIO':[-84.51667,39.10000],
      'OKLAHOMA':[-97.53500,35.48222 ],
      'OREGON':[-122.68194,45.52000],
      'PENNSYLVANIA':[-75.17000,39.95000],
      'RHODE ISLAND':[-71.42222,41.82361],
      'SOUTH CAROLINA':[-81.03417,34.00111],
      'SOUTH DAKOTA':[-96.70000,43.55056],
      'TENNESSEE':[-86.78333,36.16667 ],
      'TEXAS':[-96.80167,32.77972 ],
      'UTAH':[-111.89111,40.76139 ],
      'VERMONT':[-73.21194,44.47583 ],
      'VIRGINIA':[-76.28556,36.85111],
      'WASHINGTON':[-122.33222,47.60583],
      'WEST VIRGINIA':[-81.63333,38.34722],
      'WISCONSIN':[-87.95000,43.05000],
      'WYOMING':[-104.80194,41.14556],
      };
      var CALIFORNIA_Data = [
      [{name: 'CALIFORNIA'}, {name: 'ARIZONA', value: 163}],
      [{name: 'CALIFORNIA'}, {name: 'COLORADO', value: 57}],
      [{name: 'CALIFORNIA'}, {name: 'FLORIDA', value: 90}],
      [{name: 'CALIFORNIA'}, {name: 'ILLINOIS', value: 63}],
      [{name: 'CALIFORNIA'}, {name: 'NEVADA', value: 319}],
      [{name: 'CALIFORNIA'}, {name: 'NEW YORK', value: 64}],
      [{name: 'CALIFORNIA'}, {name: 'NORTH CAROLINA', value: 58}],
      [{name: 'CALIFORNIA'}, {name: 'OREGON', value: 149}],
      [{name: 'CALIFORNIA'}, {name: 'TEXAS', value: 169}],
      [{name: 'CALIFORNIA'}, {name: 'WASHINGTON', value: 104}]
      ];
      var FLORIDA_Data = [
      [{name: 'FLORIDA'}, {name: 'CALIFORNIA', value: 270}],
      [{name: 'FLORIDA'}, {name: 'VIRGINIA', value: 123}],
      [{name: 'FLORIDA'}, {name: 'GEORGIA', value: 416}],
      [{name: 'FLORIDA'}, {name: 'ILLINOIS', value: 124}],
      [{name: 'FLORIDA'}, {name: 'NEW JERSEY', value: 153}],
      [{name: 'FLORIDA'}, {name: 'NEW YORK', value: 485}],
      [{name: 'FLORIDA'}, {name: 'NORTH CAROLINA', value: 249}],
      [{name: 'FLORIDA'}, {name: 'PENNSYLVANIA', value: 128}],
      [{name: 'FLORIDA'}, {name: 'TENNESSEE', value: 132}],
      [{name: 'FLORIDA'}, {name: 'TEXAS', value: 182}]
      ];
      var GEORGIA_Data = [
      [{name: 'GEORGIA'}, {name: 'ALABAMA', value: 240}],
      [{name: 'GEORGIA'}, {name: 'CALIFORNIA', value: 286}],
      [{name: 'GEORGIA'}, {name: 'FLORIDA', value: 685}],
      [{name: 'GEORGIA'}, {name: 'ILLINOIS', value: 200}],
      [{name: 'GEORGIA'}, {name: 'MARYLAND', value: 230}],
      [{name: 'GEORGIA'}, {name: 'NEW JERSEY', value: 262}],
      [{name: 'GEORGIA'}, {name: 'NEW YORK', value: 558}],
      [{name: 'GEORGIA'}, {name: 'NORTH CAROLINA', value: 308}],
      [{name: 'GEORGIA'}, {name: 'SOUTH CAROLINA', value: 285}],
      [{name: 'GEORGIA'}, {name: 'TENNESSEE', value: 401}]
      ];
      var INDIANA_Data=[
      [{name: 'INDIANA'}, {name: 'CALIFORNIA', value: 113}],
      [{name: 'INDIANA'}, {name: 'FLORIDA', value: 101}],
      [{name: 'INDIANA'}, {name: 'ILLINOIS', value: 1623}],
      [{name: 'INDIANA'}, {name: 'NORTH CAROLINA', value: 42}],
      [{name: 'INDIANA'}, {name: 'KENTUCKY', value: 302}],
      [{name: 'INDIANA'}, {name: 'MICHIGAN', value: 85}],
      [{name: 'INDIANA'}, {name: 'OHIO', value: 161}],
      [{name: 'INDIANA'}, {name: 'TENNESSEE', value: 70}],
      [{name: 'INDIANA'}, {name: 'TEXAS', value: 60}],
      [{name: 'INDIANA'}, {name: 'WISCONSIN', value: 52}]
      ];
      var LOUISIANA_Data=[
      [{name: 'LOUISIANA'}, {name: 'ALABAMA', value: 36}],
      [{name: 'LOUISIANA'}, {name: 'CALIFORNIA', value: 168}],
      [{name: 'LOUISIANA'}, {name: 'COLORADO', value: 41}],
      [{name: 'LOUISIANA'}, {name: 'FLORIDA', value: 105}],
      [{name: 'LOUISIANA'}, {name: 'GEORGIA', value: 70}],
      [{name: 'LOUISIANA'}, {name: 'ILLINOIS', value: 50}],
      [{name: 'LOUISIANA'}, {name: 'MISSISSIPPI', value: 146}],
      [{name: 'LOUISIANA'}, {name: 'NORTH CAROLINA', value: 47}],
      [{name: 'LOUISIANA'}, {name: 'TENNESSEE', value: 48}],
      [{name: 'LOUISIANA'}, {name: 'TEXAS', value: 522}]
      ];
      var NORTHCAROLINA_Data=[
      [{name: 'NORTH CAROLINA'}, {name: 'CALIFORNIA', value: 163}],
      [{name: 'NORTH CAROLINA'}, {name: 'FLORIDA', value: 176}],
      [{name: 'NORTH CAROLINA'}, {name: 'GEORGIA', value: 159}],
      [{name: 'NORTH CAROLINA'}, {name: 'MARYLAND', value: 215}],
      [{name: 'NORTH CAROLINA'}, {name: 'NEW JERSEY', value: 239}],
      [{name: 'NORTH CAROLINA'}, {name: 'NEW YORK', value: 377}],
      [{name: 'NORTH CAROLINA'}, {name: 'PENNSYLVANIA', value: 101}],
      [{name: 'NORTH CAROLINA'}, {name: 'SOUTH CAROLINA', value: 315}],
      [{name: 'NORTH CAROLINA'}, {name: 'TEXAS', value: 72}],
      [{name: 'NORTH CAROLINA'}, {name: 'VIRGINIA', value: 193}]
      ];
      var OHIO_Data=[
      [{name: 'OHIO'}, {name: 'CALIFORNIA', value: 134}],
      [{name: 'OHIO'}, {name: 'FLORIDA', value: 129}],
      [{name: 'OHIO'}, {name: 'ILLINOIS', value: 223}],
      [{name: 'OHIO'}, {name: 'INDIANA', value: 150}],
      [{name: 'OHIO'}, {name: 'KENTUCKY', value: 123}],
      [{name: 'OHIO'}, {name: 'MICHIGAN', value: 189}],
      [{name: 'OHIO'}, {name: 'NEW YORK', value: 271}],
      [{name: 'OHIO'}, {name: 'NORTH CAROLINA', value: 104}],
      [{name: 'OHIO'}, {name: 'PENNSYLVANIA', value: 163}],
      [{name: 'OHIO'}, {name: 'TEXAS', value: 85}]
      ];
      var PENNSYLVANIA_Data=[
      [{name: 'PENNSYLVANIA'}, {name: 'CALIFORNIA', value: 90}],
      [{name: 'PENNSYLVANIA'}, {name: 'DELAWARE', value: 89}],
      [{name: 'PENNSYLVANIA'}, {name: 'FLORIDA', value: 142}],
      [{name: 'PENNSYLVANIA'}, {name: 'MARYLAND', value: 383}],
      [{name: 'PENNSYLVANIA'}, {name: 'NEW JERSEY', value: 389}],
      [{name: 'PENNSYLVANIA'}, {name: 'NEW YORK', value: 451}],
      [{name: 'PENNSYLVANIA'}, {name: 'NORTH CAROLINA', value: 112}],
      [{name: 'PENNSYLVANIA'}, {name: 'OHIO', value: 137}],
      [{name: 'PENNSYLVANIA'}, {name: 'TEXAS', value: 49}],
      [{name: 'PENNSYLVANIA'}, {name: 'VIRGINIA', value: 72}]
      ];
      var TEXAS_Data=[
      [{name: 'TEXAS'}, {name: 'ARIZONA', value: 129}],
      [{name: 'TEXAS'}, {name: 'CALIFORNIA', value: 764}],
      [{name: 'TEXAS'}, {name: 'COLORADO', value: 156}],
      [{name: 'TEXAS'}, {name: 'FLORIDA', value: 209}],
      [{name: 'TEXAS'}, {name: 'GEORGIA', value: 118}],
      [{name: 'TEXAS'}, {name: 'ILLINOIS', value: 175}],
      [{name: 'TEXAS'}, {name: 'LOUISIANA', value: 479}],
      [{name: 'TEXAS'}, {name: 'NEW MEXICO', value: 120}],
      [{name: 'TEXAS'}, {name: 'NORTH CAROLINA', value: 116}],
      [{name: 'TEXAS'}, {name: 'TENNESSEE', value: 122}]
      ];
      var VIRGINIA_Data=[
      [{name: 'VIRGINIA'}, {name: 'CALIFORNIA', value: 121}],
      [{name: 'VIRGINIA'}, {name: 'FLORIDA', value: 147}],
      [{name: 'VIRGINIA'}, {name: 'GEORGIA', value: 96}],
      [{name: 'VIRGINIA'}, {name: 'MARYLAND', value: 858}],
      [{name: 'VIRGINIA'}, {name: 'NEW JERSEY', value: 269}],
      [{name: 'VIRGINIA'}, {name: 'NEW YORK', value: 426}],
      [{name: 'VIRGINIA'}, {name: 'NORTH CAROLINA', value: 469}],
      [{name: 'VIRGINIA'}, {name: 'PENNSYLVANIA', value: 160}],
      [{name: 'VIRGINIA'}, {name: 'TENNESSEE', value: 63}],
      [{name: 'VIRGINIA'}, {name: 'TEXAS', value: 83}]
      ];
      /*
      var planePath = 'path://M1705.06,1318.313v-89.254l-319.9-221.799l0.073-208.063c0.521-84.662-26.629-121.796-63.961-121.491c-37.332-0.305-64.482,36.829-63.961,121.491l0.073,208.063l-319.9,221.799v89.254l330.343-157.288l12.238,241.308l-134.449,92.931l0.531,42.034l175.125-42.917l175.125,42.917l0.531-42.034l-134.449-92.931l12.238-241.308L1705.06,1318.313z';*/
      var planePath = 'path://m454.332031 0-40.417969 41.609375-21.054687-21.054687-159.066406 159.0625-29.902344-29.902344-152.699219 101.804687 55.351563 55.351563-106.042969 106.042968 99.085938 99.085938 74.230468-137.855469 4.019532 4.019531 24.128906 96.515626 92.164062-30.722657-22.515625-90.066406 15.203125-15.207031 42.417969 42.417968 63.625-63.625-84.832031-84.835937 21.207031-21.207031 23.539063 23.539062 101.800781-152.703125-19.449219-19.449219 40.722656-41.921874zm-254.261719 188.3125 12.515626 12.515625-84.835938 84.832031-29.480469-29.480468zm-107.78125 273.972656-49.375-49.371094 84.835938-84.835937 23.925781 23.925781zm236.945313-123.601562-21.210937-21.207032 21.210937-21.210937 21.207031 21.207031zm-90.839844 6.003906 19.898438 79.597656-35.085938 11.695313-18.289062-73.152344c-12.089844-12.089844-45.335938-45.335937-55.957031-55.957031l95.4375-95.441406 63.625 63.628906zm48.421875-133.257812-21.207031-21.207032 21.207031-21.207031 21.207032 21.207031zm61.292969-23.539063-40.085937-40.085937 84.835937-84.832032 23.121094 23.117188zm0 0';
      var convertData = function (data) {
      var res = [];
      for (var i = 0; i < data.length; i++) {
      var dataItem = data[i];
      var fromCoord = geoCoordMap[dataItem[0].name];
      var toCoord = geoCoordMap[dataItem[1].name];
      if (fromCoord && toCoord) {
      res.push([{
      coord: fromCoord
      }, {
      coord: toCoord
      }]);
      }
      }
      return res;
      };
      var color = ['#a6c84c', '#ffa022', '#46bee9'];
      var series = [];
      [['CALIFORNIA', CALIFORNIA_Data], ['FLORIDA', FLORIDA_Data], ['GEORGIA', GEORGIA_Data],['INDIANA',INDIANA_Data],['LOUISIANA',LOUISIANA_Data],['NORTH CAROLINA',NORTHCAROLINA_Data],['OHIO',OHIO_Data],['PENNSYLVANIA',PENNSYLVANIA_Data],['TEXAS',TEXAS_Data],['VIRGINIA',VIRGINIA_Data]].forEach(function (item, i) {
      series.push({
      name: item[0] + ' Top10',
      type: 'lines',
      zlevel: 1,
      effect: {
      show: true,
      period: 6,
      trailLength: 0.7,
      color: '#fff',
      symbolSize: 3
      },
      lineStyle: {
      normal: {
      color: color[i],
      width: 0,
      curveness: 0.2
      }
      },
      data: convertData(item[1])
      },
      {
      name: item[0] + ' Top10',
      type: 'lines',
      zlevel: 2,
      effect: {
      show: true,
      period: 6,
      trailLength: 0,
      symbol: planePath,
      symbolSize: 15
      },
      lineStyle: {
      normal: {
      color: color[i],
      width: 1,
      opacity: 0.4,
      curveness: 0.2
      }
      },
      data: convertData(item[1])
      },
      {
      name: item[0] + ' Top10',
      type: 'effectScatter',
      coordinateSystem: 'geo',
      zlevel: 2,
      rippleEffect: {
      brushType: 'stroke'
      },
      label: {
      normal: {
      show: true,
      position: 'right',
      formatter: '{b}'
      }
      },
      symbolSize: function (val) {
      return val[2] / 8;
      },
      itemStyle: {
      normal: {
      color: color[i]
      }
      },
      data: item[1].map(function (dataItem) {
      return {
      name: dataItem[1].name,
      value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
      };
      })
      });
      });
      option = {
      //        backgroundColor: '#404a59',
      title: {
      text: '美国枪支流通情况',
      /*subtext: 'Develop By WanderGIS',*/
      left: 'center',
      textStyle: {
      color: '#fff'
      }
      },
      tooltip: {
      trigger: 'item'
      },
      legend: {
      orient: 'vertical',
      top: 'bottom',
      left: 'right',
      data: ['CALIFORNIA Top10', 'FLORIDA Top10', 'GEORGIA Top10','INDIANA Top10','LOUISIANA Top10','NORTH CAROLINA Top10','OHIO Top10','PENNSYLVANIA Top10','TEXAS Top10','VIRGINIA Top10'],
      textStyle: {
      color: '#fff'
      },
      selectedMode: 'single'
      },
      geo: {
      map: '',
      label: {
      emphasis: {
      show: false
      }
      },
      roam: true,
      itemStyle: {
      normal: {
      areaColor: '#323c48',
      borderColor: '#404a59'
      },
      emphasis: {
      areaColor: '#2a333d'
      }
      }
      },
      series: series
      };
      overlay.on('click', function (params) {
        console.log(params);
      });

      // 使用刚指定的配置项和数据显示图表。
      overlay.setOption(option);



          $(document).ready(function(){
          var chart = document.getElementById('chart');
          var chartData = echarts.init(chart);
          jQuery.noConflict()
          $.get('/json/USAmap.json', function (usaJson) {
            echarts.registerMap('USA', usaJson, {
            Alaska: {              // 把阿拉斯加移到美国主大陆左下方
                left: -130,
                top: 25,
                width: 120
            },
            Hawaii: {
                left: -120,        // 夏威夷
                top: 28,
                width: 60
            },  
            'Puerto Rico': {       // 波多黎各
                left: -76,
                top: 26,
                width: 2
            }
            });
            $.get('/json/lawyears.json').done(function (result) {
              //console.log(result.lawyears);
                var data1=[];
              for (var i=0, len=result.lawyears.length; i<len; i++){
                data1.push({
                  name:result.lawyears[i][0],
                  value:result.lawyears[i][29],
                })
              }
              console.log(data1);
              var option2 ={
              title: {
                  text: '全美各州枪支持有量',
                  x: 'center',
                  textStyle: {
                  color: '#fff'
                  },
              },
              tooltip: {
                  trigger: 'item',
                  showDelay: 0,
                  transitionDuration: 0.2,
                  formatter: function (params) {
                      var value = (params.value + '').split('.');
                      value = value[0].replace(/(\d{1,3})(?=(?:\d{3})+(?!\d))/g, '$1,');
                      return params.seriesName + '<br/>' + params.name + ': ' + value;
                  }
              },
              visualMap: {
                  left: 'right',
                  textStyle: {
                  color: '#fff'
                  },
                  min:0,
                  max:15000,
                  inRange: {
                      color: ['#313695', '#4575b4', '#74add1', '#abd9e9', '#e0f3f8', '#ffffbf', '#fee090', '#fdae61', '#f46d43', '#d73027', '#a50026']
                  },
                  text:['High','Low'],           // 文本，默认为数值文本
                  calculable: true
              },
              toolbox: {
                  show: true,
                  //orient: 'vertical',
                  left: 'left',
                  top: 'top',
                  feature: {
                      dataView: {readOnly: false},
                      restore: {},
                      saveAsImage: {}
                  }
              },
              series: [
                  {
                      name: '枪支持有总数',
                      type: 'map',
                      roam: true,
                      map: 'USA',
                      itemStyle:{
                          emphasis:{label:{show:true}}
                      },
                      // 文本位置修正
                      textFixed: {
                          Alaska: [20, -20]
                      },
                      zoom: 1.5,
                      x: 'right',
                      data: data1
                  }
              ]
            };
            chartData.setOption(option2); 


          var chart2 = document.getElementById('chart2');
          var chartData2 = echarts.init(chart2);
          var dataShadow = [];
              var option3={
              title: {
                  text: '该州枪支法律数量1991-2018',
                  subtext: 'Number of firearms laws in state 1991-2018',
                  textStyle: {
                  color: '#fff'
                  },
              },
              tooltip : {
                trigger: 'axis',
                axisPointer : {           
                    type : 'shadow'      
                },
                formatter: function (params) {
                  console.log(params);
                    var tar = params[0];
                    return tar.name + '<br/>' + 'value' + ' : ' + tar.value;
                }
              },
              xAxis: [{
                  type : 'category',
                  axisLabel: {
                  formatter:function(value){
                      return value.split("").join("\n");
                  },
                  //inside: true,
                  textStyle: {
                      color: '#fff'
                  }
                  },
                  //z: 10,
                  data:['1991','1992','1993','1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'],
                  //data: ['Dealer', 'Buyer', 'Prohibitions', 'Background_Check', 'Ammunition', 'Possession', 'Concealed_Carry', 'Assault_Weapons', 'Child_Access', 'Trafficking', 'Domestic_Violence', 'Stand_Your_Ground', 'Preemption', 'Immunity'],

              }],
              yAxis: {
                  axisLine: {
                      show: false
                  },
                  axisTick: {
                      show: false
                  },
                  axisLabel: {
                      textStyle: {
                          color: '#fff'
                      }
                  }
              },
              dataZoom: [
                  {
                      type: 'inside'
                  }
              ],
              series: [
                  //- { // For shadow
                  //-     type: 'bar',
                  //-     itemStyle: {
                  //-         normal: {color: 'rgba(0,0,0,0.05)'}
                  //-     },
                  //-     barGap:'-100%',
                  //-     barCategoryGap:'0%',
                  //-     //data: dataShadow,
                  //-     animation: false
                  //- },
                  {
                      type: 'bar',
                      itemStyle: {
                          normal: {
                              color: new echarts.graphic.LinearGradient(
                                  0, 0, 0, 1,
                                  [
                                      {offset: 0, color: '#83bff6'},
                                      {offset: 0.5, color: '#188df0'},
                                      {offset: 1, color: '#188df0'}
                                  ]
                              )
                          },
                          emphasis: {
                              color: new echarts.graphic.LinearGradient(
                                  0, 0, 0, 1,
                                  [
                                      {offset: 0, color: '#2378f7'},
                                      {offset: 0.7, color: '#2378f7'},
                                      {offset: 1, color: '#83bff6'}
                                  ]
                              )
                          }
                      },
                      data: [15,16,16,16,16,16,16,16,16,11,11,11,11,11,11,11,11,11,11,11,11,10,10,10,10,10,10,10],
                  }
              ]
          };
          var chart3 = document.getElementById('chart3');
          var chartData3 = echarts.init(chart3);
          data2016=[2,1,6,0,0,3,5,0,6,2,14,1,0,1];
          var option4={
            title: {
                  text: '2016年某州枪支法种类及数量',
                  subtext: 'Types and Quantities of Firearms Law in a State in 2016',
                  textStyle: {
                  color: '#fff'
                  },
                  //subtext: 'Types and Quantities of Firearms Law in a State in 2016'
              },
              xAxis: [{
                  //data:['1991','1992','1993','1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018'],
              
                  type : 'category',
                  axisLabel: {
                  formatter:function(value){
                      return value.split("").join("\n");
                  },
                  //inside: true,
                  textStyle: {
                      color: '#fff'
                  }
                  },
                  z:50,
                  data: ['经销商', '买家条件', '高危人士', '背景调查', '弹药销售', '枪支管制', '隐藏携带', '伤害限制', '儿童许可', '枪支贩运', '家庭暴力', '坚持立场', '预防管制', '免疫法规'],
              }],
              yAxis: {
                  axisLine: {
                      show: false
                  },
                  axisTick: {
                      show: false
                  },
                  axisLabel: {
                      textStyle: {
                          color: '#fff'
                      }
                  }
              },
              dataZoom: [
                  {
                      type: 'inside'
                  }
              ],
              tooltip : {
                trigger: 'axis',
                axisPointer : {           
                    type : 'shadow'      
                },
                formatter: function (params) {
                  console.log(params);
                    var tar = params[0];
                    return tar.name + '<br/>' + 'value' + ' : ' + tar.value;
                }
              },
              series: [
                  //- { // For shadow
                  //-     type: 'bar',
                  //-     itemStyle: {
                  //-         normal: {color: 'rgba(0,0,0,0.05)'}
                  //-     },
                  //-     barGap:'-100%',
                  //-     barCategoryGap:'0%',
                  //-     //data: dataShadow,
                  //-     animation: false
                  //- },
                  {
                      type: 'bar',
                      itemStyle: {
                          normal: {
                              color: new echarts.graphic.LinearGradient(
                                  0, 0, 0, 1,
                                  [
                                      {offset: 0, color: '#83bff6'},
                                      {offset: 0.5, color: '#188df0'},
                                      {offset: 1, color: '#188df0'}
                                  ]
                              )
                          },
                          emphasis: {
                              color: new echarts.graphic.LinearGradient(
                                  0, 0, 0, 1,
                                  [
                                      {offset: 0, color: '#2378f7'},
                                      {offset: 0.7, color: '#2378f7'},
                                      {offset: 1, color: '#83bff6'}
                                  ]
                              )
                          }
                      },
                      data: [2,1,6,0,0,3,5,0,6,2,14,1,0,1]
                  }
              ]

          }

          chartData2.setOption(option3); 
          chartData3.setOption(option4); 
          
        
          chartData.on('click', function (params) {

            var selected = params.data;
            var mapSeries = option2.series[0];
            var data = [];
            var legendData = [];
            var name;
            console.log(params.data);
            for (var p = 0, len = mapSeries.data.length; p < len; p++) {
            name = mapSeries.data[p].name;
            console.log(selected.name);
            //mapSeries.data[p].selected = selected[name];
            if (selected.name == result.lawyears[p][0]) {
            option3.series[0].data=[result.lawyears[p][1],result.lawyears[p][2],result.lawyears[p][3],result.lawyears[p][4],result.lawyears[p][5],result.lawyears[p][6],result.lawyears[p][7],result.lawyears[p][8],result.lawyears[p][9],result.lawyears[p][10],result.lawyears[p][11],result.lawyears[p][12],result.lawyears[p][13],result.lawyears[p][14],result.lawyears[p][15],result.lawyears[p][16],result.lawyears[p][17],result.lawyears[p][18],result.lawyears[p][19],result.lawyears[p][20],result.lawyears[p][21],result.lawyears[p][22],result.lawyears[p][23],result.lawyears[p][24],result.lawyears[p][25],result.lawyears[p][26],result.lawyears[p][27],result.lawyears[p][28]];
            option4.series[0].data=[result.lawyears[p][30],result.lawyears[p][31],result.lawyears[p][32],result.lawyears[p][33],result.lawyears[p][34],result.lawyears[p][35],result.lawyears[p][36],result.lawyears[p][37],result.lawyears[p][38],result.lawyears[p][39],result.lawyears[p][40],result.lawyears[p][41],result.lawyears[p][42],result.lawyears[p][43]];
            //- option3.series[1].data=datayear;
            chartData2.setOption(option3, true);
            chartData3.setOption(option4, true);
            }
            //console.log(data);
            }
            //option3.legend.data = legendData;
            //option.series[1].data = data;
            //chartData4.setOption(option4, true); 
            });
            });
          });
          });
          
          
          