doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title US Crime
    // stylesheets
    script(type='text/javascript',src='/javascripts/jquery.js')
    script(src='/javascripts/echarts.js', type='text/javascript')
    //- link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    //- script(src='/javascripts/bootstrap.min.js')
    link(href='/pages/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/pages/css/font-awesome.css', rel='stylesheet')
    link(href='/pages/css/ionicons.css', rel='stylesheet')
    link(href='/pages/css/owl.carousel.css', rel='stylesheet')
    link(href='/pages/css/style.css', rel='stylesheet')
    link(href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', rel='stylesheet', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', crossorigin='', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==')
    // Fav and touch icons
  body
    // navbar
    header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html') US Crime
          #navbar.navbar-collapse.collapse.nav-top
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='index.html') Home
              li
                a(href='charts.html') Charts
              li
                a(href='dijkstra.html') Dijkstra
              li
                a(href='social.html') Social
              li
                a(href='about.html') About
              li
                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container(style='background-color:rgb(24, 32, 53);width:100%;height:1000px;')
            #contain(style='width: 100%; height: 60px;')
            #map(style='width: 100%; height: 700px;float:left;')
            #chart2(style='width: 500px; height: 50%;float:right;')
            #chart(style='width: 800px; height: 50%;float:left;')
            #chart3(style='width: 500px; height: 50%;float:right;')
            
    // footer
    footer.footer
      .container
        .row
          .col-md-2.col-sm-3.col-xs-6
            .footer-logo
              .footer-logo-text Refugee
              p Powered By Download Manager
          .col-md-2.col-sm-3.col-xs-6
            h3 Links
          .col-md-2.col-sm-3.col-xs-6
            h3 Pages
          .col-md-2.col-sm-3.col-xs-6
            h3 Legal
          .col-md-2.col-sm-3.col-xs-6
            h3 Social
          .col-md-2.col-sm-3.col-xs-6
            h3 Contact
        hr
        .row
    // javascript
    script(src='/pages/js/owl.carousel.js')
    script(src='/pages/js/custom.js')
    script(src='../javascripts/main.min.js')
    script(type="text/javascript").
      var map = L.map('map');
      var baseLayers = {
      "高德地图": L.tileLayer('http://webrd0{s}.is.autonavi.com/appmaptile?lang=zh_cn&size=1&scale=1&style=8&x={x}&y={y}&z={z}', {
      subdomains: "1234"
      }),
      '高德影像': L.layerGroup([L.tileLayer('http://webst0{s}.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}', {
      subdomains: "1234"
      }), L.tileLayer('http://t{s}.tianditu.cn/DataServer?T=cta_w&X={x}&Y={y}&L={z}', {
      subdomains: "1234"
      })]),
      "立体地图": L.tileLayer('https://a.tiles.mapbox.com/v3/examples.c7d2024a/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      }),
      "Foursquare": L.tileLayer('https://a.tiles.mapbox.com/v3/foursquare.map-0y1jh28j/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      }),
      "Openstreetmap": L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
      attribution:'Map data  <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      }),
      'GeoQ灰色底图': L.tileLayer('http://map.geoq.cn/ArcGIS/rest/services/ChinaOnlineStreetPurplishBlue/MapServer/tile/{z}/{y}/{x}').addTo(map)
      };
      L.tileLayer('https://a.tiles.mapbox.com/v3/foursquare.map-0y1jh28j/{z}/{x}/{y}.png', {
      attribution: 'Map &copy; Pacific Rim Coordination Center (PRCC).  Certain data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
      key: 'BC9A493B41014CAABB98F0471D759707',
      styleId: 22677
      });
      var layercontrol = L.control.layers(baseLayers,{}, {
      position: "topleft"
      }).addTo(map);
      //map.setView(L.latLng(37.550339, 104.114129), 4);
      map.setView(L.latLng(37.550339, -90.114129), 4);
      var overlay = new L.echartsLayer3(map, echarts);
      var chartsContainer = overlay.getEchartsContainer();
      var myChart = overlay.initECharts(chartsContainer);
      var arrest_data = [
      {name: 'ALABAMA', value: 347.9794961},
      {name: 'ALASKA', value: 415.9283204},
      {name: 'ARIZONA', value: 347.1869001},
      {name: 'ARKANSAS', value: 383.6885435},
      {name: 'CALIFORNIA', value: 299.4838519},
      {name: 'COLORADO', value: 309.5348099},
      {name: 'CONNECTICUT', value: 203.5964696},
      {name: 'DELAWARE', value: 327.7953769},
      {name: 'FLORIDA', value: 311.0445776},
      {name: 'GEORGIA', value: 337.0038842},
      {name: 'HAWAII', value: 320.6099604},
      {name: 'IDAHO', value: 197.8124148},
      {name: 'ILLINOIS', value: 248.7666066},
      {name: 'INDIANA', value: 293.9038201},
      {name: 'IOWA', value: 239.7353578},
      {name: 'KANSAS', value: 323.131679},
      {name: 'KENTUCKY', value: 243.8283245},
      {name: 'LOUISIANA', value: 386.2183875},
      {name: 'MAINE', value: 177.08941},
      {name: 'MARYLAND', value: 280.0696195},
      {name: 'MASSACHUSETTS', value: 194.0363623},
      {name: 'MICHIGAN', value: 237.6124295},
      {name: 'MINNESOTA', value: 237.2612013},
      {name: 'MISSISSIPPI', value: 304.5874694},
      {name: 'MISSOURI', value: 332.2527538},
      {name: 'MONTANA', value: 308.4948241},
      {name: 'NEBRASKA', value: 256.1224741},
      {name: 'NEVADA', value: 326.0895452},
      {name: 'NEW HAMPSHIRE', value: 172.2152935},
      {name: 'NEW JERSEY', value: 178.063703},
      {name: 'NEW MEXICO', value: 462.805788},
      {name: 'NEW YORK', value: 191.3357168},
      {name: 'NORTH CAROLINA', value: 310.6642332},
      {name: 'NORTH DAKOTA', value: 256.1849148},
      {name: 'OHIO', value: 289.6988046},
      {name: 'OKLAHOMA', value: 346.4877014},
      {name: 'OREGON', value: 324.7659257},
      {name: 'PENNSYLVANIA', value: 205.5065717},
      {name: 'RHODE ISLAND', value: 202.7202085},
      {name: 'SOUTH CAROLINA', value: 376.3663293},
      {name: 'SOUTH DAKOTA', value: 241.9266849},
      {name: 'TENNESSEE', value: 351.3969072},
      {name: 'TEXAS', value: 319.2834281},
      {name: 'UTAH', value: 321.8024643},
      {name: 'VERMONT', value: 169.341979},
      {name: 'VIRGINIA', value: 208.9125996},
      {name: 'WASHINGTON', value: 380.5761733},
      {name: 'WEST VIRGINIA', value: 240.1515446},
      {name: 'WISCONSIN', value: 224.5433288},
      {name: 'WYOMING', value: 220.392881},
      ];
      var crime_data = [
      {name: 'ALABAMA', value: 169137},
      {name: 'ALASKA', value: 30842},
      {name: 'ARIZONA', value: 239859},
      {name: 'ARKANSAS', value: 114655},
      {name: 'CALIFORNIA', value: 1176866},
      {name: 'COLORADO', value: 171176},
      {name: 'CONNECTICUT', value: 73044},
      {name: 'DELAWARE', value: 31229},
      {name: 'FLORIDA', value: 642512},
      {name: 'GEORGIA', value: 347573},
      {name: 'HAWAII', value: 45805},
      {name: 'IDAHO', value: 33233},
      {name: 'ILLINOIS', value: 319310},
      {name: 'INDIANA', value: 194976},
      {name: 'IOWA', value: 75058},
      {name: 'KANSAS', value: 93958},
      {name: 'KENTUCKY', value: 108165},
      {name: 'LOUISIANA', value: 180988},
      {name: 'MAINE', value: 23557},
      {name: 'MARYLAND', value: 168735},
      {name: 'MASSACHUSETTS', value: 132405},
      {name: 'MICHIGAN', value: 236031},
      {name: 'MINNESOTA', value: 131088},
      {name: 'MISSISSIPPI', value: 90932},
      {name: 'MISSOURI', value: 202381},
      {name: 'MONTANA', value: 32042},
      {name: 'NEBRASKA', value: 48858},
      {name: 'NEVADA', value: 95846},
      {name: 'NEW HAMPSHIRE', value: 22991},
      {name: 'NEW JERSEY', value: 159873},
      {name: 'NEW MEXICO', value: 96515},
      {name: 'NEW YORK', value: 379539},
      {name: 'NORTH CAROLINA', value: 315532},
      {name: 'NORTH DAKOTA', value: 19356},
      {name: 'OHIO', value: 336704},
      {name: 'OKLAHOMA', value: 135865},
      {name: 'OREGON', value: 132699},
      {name: 'PENNSYLVANIA', value: 262783},
      {name: 'RHODE ISLAND', value: 21439},
      {name: 'SOUTH CAROLINA', value: 186671},
      {name: 'SOUTH DAKOTA', value: 20843},
      {name: 'TENNESSEE', value: 233658},
      {name: 'TEXAS', value: 890956},
      {name: 'UTAH', value: 97967},
      {name: 'VERMONT', value: 10556},
      {name: 'VIRGINIA', value: 175787},
      {name: 'WASHINGTON', value: 277095},
      {name: 'WEST VIRGINIA', value: 43915},
      {name: 'WISCONSIN', value: 129627},
      {name: 'WYOMING', value: 12891},
      ];
      var geoCoordMap = {
      'ALABAMA':[-86.79972,33.52222],
      'ALASKA':[-149.88722,61.21667],
      'ARIZONA':[-112.07500,33.44861],
      'ARKANSAS':[-92.33111,34.73611],
      'CALIFORNIA':[-118.24361,34.05222],
      'COLORADO':[-104.98472,39.73917],
      'CONNECTICUT':[-73.19556,41.18639],
      'DELAWARE':[-75.54667,39.74583],
      'FLORIDA':[-80.22639,25.78889],
      'GEORGIA':[-84.39000,33.74722],
      'HAWAII':[-157.85944,21.30694],
      'IDAHO':[-116.23778,43.61361],
      'ILLINOIS':[-87.62778,41.87778 ],
      'INDIANA':[-86.14806,39.79111],
      'IOWA':[-93.62083,41.59083],
      'KANSAS':[-97.33611,37.68889],
      'KENTUCKY':[-85.76667,38.25000],
      'LOUISIANA':[-90.05000,29.96667],
      'MAINE':[-70.26667,43.66667],
      'MARYLAND':[-76.61667,39.28333],
      'MASSACHUSETTS':[-71.05972,42.35806],
      'MICHIGAN':[-83.04583,42.33139],
      'MINNESOTA':[-93.26667,44.98333],
      'MISSISSIPPI':[-89.18611,31.05639],
      'MISSOURI':[-90.19833,38.62750],
      'MONTANA':[-108.53722,45.78667],
      'NEBRASKA':[-96.00000,41.25000],
      'NEVADA':[-115.17361,36.11389],
      'NEW HAMPSHIRE':[-71.45444,42.99583],
      'NEW JERSEY':[-74.17250,40.72417],
      'NEW MEXICO':[-106.61000,35.11083 ],
      'NEW YORK':[-74.00000,40.71250],
      'NORTH CAROLINA':[-80.84389,35.22778],
      'NORTH DAKOTA':[-96.78944,46.87722],
      'OHIO':[-84.51667,39.10000],
      'OKLAHOMA':[-97.53500,35.48222 ],
      'OREGON':[-122.68194,45.52000],
      'PENNSYLVANIA':[-75.17000,39.95000],
      'RHODE ISLAND':[-71.42222,41.82361],
      'SOUTH CAROLINA':[-81.03417,34.00111],
      'SOUTH DAKOTA':[-96.70000,43.55056],
      'TENNESSEE':[-86.78333,36.16667 ],
      'TEXAS':[-96.80167,32.77972 ],
      'UTAH':[-111.89111,40.76139 ],
      'VERMONT':[-73.21194,44.47583 ],
      'VIRGINIA':[-76.28556,36.85111],
      'WASHINGTON':[-122.33222,47.60583],
      'WEST VIRGINIA':[-81.63333,38.34722],
      'WISCONSIN':[-87.95000,43.05000],
      'WYOMING':[-104.80194,41.14556],
      };
      var convertData = function (data) {
      var res = [];
      for (var i = 0; i < data.length; i++) {
      var geoCoord = geoCoordMap[data[i].name];
      if (geoCoord) {
      res.push({
      name: data[i].name,
      value: geoCoord.concat(data[i].value)
      });
      }
      }
      return res;
      };
      option = {
      // backgroundColor: '#404a59',
      title: {
      text: 'crime in USA',
      subtext: 'Data from FBI',
      sublink: 'https://ucr.fbi.gov/crime-in-the-u.s',
      left: 'center',
      textStyle: {
      color: '#fff'
      }
      },
      tooltip : {
      trigger: 'item'
      },
      legend: {
      orient: 'vertical',
      top: 'top',
      left: 'right',
      data: ['arrest','crime','arrest_top10','crime_top10'],
      textStyle: {
      color: '#fff'
      },
      selectedMode: 'single'
      },
      geo: {
      map: '',
      label: {
      emphasis: {
      show: false
      }
      },
      roam: true,
      itemStyle: {
      normal: {
      areaColor: '#323c48',
      borderColor: '#111'
      },
      emphasis: {
      areaColor: '#2a333d'
      }
      }
      },
      series : [
      {
      name: 'arrest',
      type: 'scatter',
      coordinateSystem: 'geo',
      data: convertData(arrest_data),
      symbolSize: function (val) {
      return val[2] / 12;
      },
      label: {
      normal: {
      formatter: '{b}',
      position: 'right',
      show: false
      },
      emphasis: {
      show: true
      }
      },
      itemStyle: {
      normal: {
      color: '#ddb926'
      }
      }
      },
      {
      name: 'arrest_top10',
      type: 'effectScatter',
      coordinateSystem: 'geo',
      data: convertData(arrest_data.sort(function (a, b) {
      return b.value - a.value;
      }).slice(0, 10)),
      symbolSize: function (val) {
      return val[2] / 8;
      },
      showEffectOn: 'render',
      rippleEffect: {
      brushType: 'stroke'
      },
      hoverAnimation: true,
      label: {
      normal: {
      formatter: '{b}',
      position: 'right',
      show: true
      }
      },
      itemStyle: {
      normal: {
      color: '#f4e925',
      shadowBlur: 10,
      shadowColor: '#333'
      }
      },
      zlevel: 1
      },
      {
      name: 'crime',
      type: 'scatter',
      coordinateSystem: 'geo',
      data: convertData(crime_data),
      symbolSize: function (val) {
      return val[2] / 15000;
      },
      label: {
      normal: {
      formatter: '{b}',
      position: 'right',
      show: false
      },
      emphasis: {
      show: true
      }
      },
      itemStyle: {
      normal: {
      color: '#ddb926'
      }
      }
      },
      {
      name: 'crime_top10',
      type: 'effectScatter',
      coordinateSystem: 'geo',
      data: convertData(crime_data.sort(function (a, b) {
      return b.value - a.value;
      }).slice(0, 10)),
      symbolSize: function (val) {
      return val[2] / 10000;
      },
      showEffectOn: 'render',
      rippleEffect: {
      brushType: 'stroke'
      },
      hoverAnimation: true,
      label: {
      normal: {
      formatter: '{b}',
      position: 'right',
      show: true
      }
      },
      itemStyle: {
      normal: {
      color: '#f4e925',
      shadowBlur: 10,
      shadowColor: '#333'
      }
      },
      zlevel: 1
      }
      ]
      };
      // 使用刚指定的配置项和数据显示图表。
      overlay.setOption(option);
