html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title US Crime
    // stylesheets
    script(type='text/javascript',src='/javascripts/jquery.js')
    script(src='/javascripts/echarts.js', type='text/javascript')
    //- link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/ecstat.js')
    //- script(src='/javascripts/bootstrap.min.js')
    link(href='/pages/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/pages/css/font-awesome.css', rel='stylesheet')
    link(href='/pages/css/ionicons.css', rel='stylesheet')
    link(href='/pages/css/owl.carousel.css', rel='stylesheet')
    link(href='/pages/css/style.css', rel='stylesheet')
  body
    // navbar
    header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index.html') US Crime
          #navbar.navbar-collapse.collapse.nav-top
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href='index.html') Home
              li
                a(href='charts.html') Charts
              li
                a(href='dijkstra.html') Dijkstra
              li
                a(href='social.html') Social
              li
                a(href='about.html') About
              li
                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container(style='background-color:rgb(24, 32, 53);width:100%;height:1000px;')
            #contain(style='width: 100%; height: 100px;')
            #chart2(style='width: 700px; height: 50%;float:left;')
            #chart(style='width: 700px; height: 50%;float:right;')
            #chart3(style='width: 700px; height: 50%;float:left;')
            #chart4(style='width: 700px; height: 50%;float:right;')
    // footer
    footer.footer
      .container
        .row
          .col-md-2.col-sm-3.col-xs-6
            .footer-logo
              .footer-logo-text Refugee
              p Powered By Download Manager
          .col-md-2.col-sm-3.col-xs-6
            h3 Links
          .col-md-2.col-sm-3.col-xs-6
            h3 Pages
          .col-md-2.col-sm-3.col-xs-6
            h3 Legal
          .col-md-2.col-sm-3.col-xs-6
            h3 Social
          .col-md-2.col-sm-3.col-xs-6
            h3 Contact
        hr
        .row
    // javascript
    script(src='/pages/js/owl.carousel.js')
    script(src='/pages/js/custom.js')
    script(type="text/javascript").
      $(document).ready(function(){
      var chart = document.getElementById('chart');
      var chartData = echarts.init(chart);
      var chart2 = document.getElementById('chart2');
      var chartData2 = echarts.init(chart2);
      app = [];
      jQuery.noConflict()
        var data = [
            [4.263,1.271049],
            [4.122,2.438784],
            [3.797,-0.694316],    
            [4.619,0.89141],
            [3.838,-0.14144],
            [3.151,-0.211998],
            [2.919,0.403724],
            [2.554,0.066983],
            [3.783,0.840276],
            [3.47,-0.142655],
            [3.909,-1.316686],
            [1.956,-1.876449],
            [4.155,-0.296832],
            [2.844,1.020194],
            [4.572,-0.464047],
            [3.875,-0.217131],
            [3.21,-0.253443],
            [2.426,1.430084],
            [6.121,0.926862],
            [3.058,0.288326],
            [4.974,2.243173],
            [4.102,1.827642],
            [2.185,1.285346],
            [5.397,1.57601],
            [2.598,-1.154419],
            [5.045,0.122517],
            [4.724,2.147442],
            [2.187,-1.785259],
            [4.22,2.651349],
            [2.861,0.199801],
            [3.899,0.189382],
            [2.36,-2.795323],
            [6.959,-4.753973],
            [5.213,6.243295],
            [2.749,0.173185],
            [2.758,-3.493719],
            [6.561,0.403544],
            [3.379,0.325931],
            [1.993,4.0545],
            [4.99,-0.344433],
            [2.156,0.739175],
            [1.301,2.135906],
            [2.425,0.700602],
            [2.394,0.648915],
            [3.831,-0.857562],
            [3.496,0.136825],
            [2.221,2.868157],
            [0.118,1.403144],
        ];

        // See https://github.com/ecomfe/echarts-stat
        var myRegression = ecStat.regression('linear', data);

        myRegression.points.sort(function(a, b) {
            return a[0] - b[0];
        });

        option= {
            title: {
                text: '局部墨兰指数与批捕率的关系',
                subtext: 'By Heymax Xu',
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            xAxis: {
                name: '犯罪率',
                type: 'value',
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
            },
            yAxis: {
                name: '局部墨兰指数',
                type: 'value',
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
            },
            series: [{
                name: 'scatter',
                type: 'scatter',
                label: {
                    emphasis: {
                        show: true,
                        position: 'left',
                        textStyle: {
                            color: 'blue',
                            fontSize: 16
                        }
                    }
                },
                data: data
            }, {
                name: 'line',
                type: 'line',
                showSymbol: false,
                data: myRegression.points,
                markPoint: {
                    itemStyle: {
                        normal: {
                            color: 'transparent'
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'left',
                            formatter: myRegression.expression,
                            textStyle: {
                                color: '#333',
                                fontSize: 14
                            }
                        }
                    },
                    data: [{
                        coord: myRegression.points[myRegression.points.length - 1]
                    }]
                }
            }]
        };
        option2 = {
            title : {
                text: '数据间相关性分析',
                //subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['Pearson相关系数','Kendall相关系数','Sperrman相关系数']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['人均GDP','人口密度','贫富差距','消费水平','消耗品支出','恩格尔系数','武器持有量','武器贩卖量','武器持有比','武器贩卖比','人口','恶性伤害案件数','总案件数',
                            '恶性事件占比','GDP'],
                            }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value} '
                    }
                }
            ],
            series : [
                {
                    name:'Pearson相关系数',
                    type:'line',
                    data:[-0.201, -0.069, 0.182, -0.244, -0.508, -0.041,0.280,0.279,0.529,0.421,0.174,0.316,0.257,0.687,0.141],
                    markPoint : {
                        data : [
                          
                        ]
                    },
                    markLine : {
                        data : [
                        ]
                    }
                },
                {
                    name:'Kendall相关系数',
                    type:'line',
                    data:[0.181,0.066,0.182,-0.239,-0.324,-0.002,0.335,0.307,0.365,0.278,0.199,0.404,0.303,0.523,0.179],
                  
                    
                },
              {
                    name:'Sperrman相关系数',
                    type:'line',
                    data:[-0.240,0.108,0.253,-0.351,-0.474,0.017,0.468,0.443,0.483,0.391,0.292,0.582,0.454,0.742,0.265],
                    markPoint : {
                        data : [
                          
                        ]
                    },
                    markLine : {
                        data : [
                          
                        ]
                    }
                },
            ]
        };
        chartData.setOption(option); 
        chartData2.setOption(option2); 
        });